@media screen and (min-width: 992px) {
  .navbar {
    padding-left: 300px !important;

    .navbar-toggler {
      display: none;
    }

    .desktop {
      display: flex;
    }
    .mobile {
      display: none;
    }
  }
}