@media screen and (min-width: 992px) {
  h1 {
    color: $blue-gray-5;
    @include create-font($size: 32px);
  }

  h2 {
    color: $blue-gray-5;
    @include create-font($size: 20px, $weight: bold);
  }

  h3 {
    color: $blue-gray-5;
    @include create-font($size: 20px);
  }
}