$overlay-z-index: 1031;
$spinner-z-index: 1032;

.app-loading {
  z-index: $overlay-z-index;
  position: relative;
  
  .app-loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ccc;
    z-index: $overlay-z-index;
    opacity: 0.5;
    top: 0;
    left: 0;
  }

  .app-loading-line {
    top: 0;
    left: 0;
    position: fixed !important;
    z-index: $spinner-z-index;
    width: 100%;
    div {
      background-color: theme-color("primary");
    }
  }
  
  .app-loading-circular {
    height: 2.5em;
    width: 2.5em;
    border-radius: 200px;
    border: 5px solid #fff;
    box-sizing: border-box;
    background-size: contain;
    background-color: #fff;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.27);
    position: fixed;
    z-index: $spinner-z-index;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    svg {
      color: theme-color("primary");
    }
  }
}
