@import "~react-toastify/dist/ReactToastify.css";

.Toastify__toast {
  min-height: 45px;
  border-radius: 45px;
  text-align: center;

  &.Toastify__toast--success {
    background: theme-color("primary");
  }
}