.errors {
  height: 100vh;

  .err-header {
    background-color: $blue-gray-1;
    @include flexbox($justify: space-between, $align: center);
    padding: 15px 40px;

    &.err-403 {
      h2 {
        width: 255px;
      }
    }

    &.err-500 {
      background-color: $red;
      h2 {
        width: 190px;
      }
    }

    h2 {
      margin: 0px;
      width: 175px;
      font-size: 26px;
      color: $white;
    }
  }

  .err-content {
    padding: 30px 50px 30px;

    .links {
      border: 1px solid $gray-7;
      border-radius: 5px;
      margin: 15px 0px;

      .link {
        padding: 10px 20px;

        a, button {
          color: $black;
          font-size: 15px;
          padding: 0px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $gray-7;
        }
      }
    }
  }
}