@mixin create-font($size: 1rem, $weight: 300, $color: #000, $align: left) {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: $align;
  color: $color;
  font-weight: $weight;
  font-size: $size;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
