$green: #4CAF50;
$blue: #2196F3;
$red: #F44336;

$white-1: #F0F0F7;
$white-2: #F5F5F5;

$gray-0: #E8E8E8;
$gray-1: #BCBCBC;
$gray-2: #838383;
$gray-3: #707070;
$gray-4: #999999;
$gray-5: #888888;
$gray-6: #95989A;
$gray-7: #DDDDDD;
$gray-9: #ECEEEF;
$gray-10: #CCD5DA;

$blue-gray-1: #78909C;
$blue-gray-2: #5E617B;
$blue-gray-3: #455A64;
$blue-gray-4: #37474F;
$blue-gray-5: #263238;
$blue-gray-6: #A4AFB7;
