@media screen and (min-width: 992px) {
  main {
    margin-left: 300px !important;
    margin-top: 50px !important;
    width: calc(100vw - 300px) !important;
  }
}

.font-size-13 {
  font-size: 13px !important;
}